.app {
  height: 100%;
  text-align: center;
}

.page-title {
  margin: 0px;
  padding: 5rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
