.app {
  height: 100%;
  text-align: center;
}

.page-title {
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 0.2rem #880808;
  font-size: 4rem;
}

