.movie-back-drop {
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 75vh;
  min-width: 100vh;
  padding: 0;
}

.movie-details-container {
  background:rgb(99, 99, 99, 0.9);
  font-weight: 500;
  color: white;
  margin: 2rem 2rem 2rem 2rem;
  padding: 1rem 2rem 1rem 2rem;
  max-width: 50rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.release-date {
  font-size: 1.25rem;
  margin-top: 0.8rem;
}

.tagline {
  font-size: 1.7rem;
  font-style: italic;
}

.overview {
  font-size: 1.5rem;
}


