.movie-background-img {
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50vh;
  padding: 0;
  opacity: 0.5;
}

.movie-details-container {
 color: white;
 background: grey;
}

.title {
  font-size: 2rem;
}

.overview {
font-size: 1.5rem;
grid-row-start: 2;
grid-row-end: 4;
}
